// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

// Input device configuration.
// Find the full list of options on the wiki:
// https://yalter.github.io/niri/Configuration:-Input
input {
    focus-follows-mouse
    keyboard {
        xkb {
            layout "us"
            variant ""
            model ""
            options ""
        }
        repeat-delay 200
        repeat-rate 35
    }
    //touchpad {
    //    tap
    //    accel-speed 0.2
    //    accel-profile "flat"
    //    scroll-factor 1.0
    //}
    mouse {
        accel-speed 0.3
        accel-profile "flat"
    }
}

output "HDMI-A-1" {
    scale 1
    transform "normal"
    position x=1280 y=0
}

// get rid of weird blue tint on terminal (idk why or how it got there) + title bar
prefer-no-csd

layout {
    gaps 10
    center-focused-column "never"
    background-color "transparent"; // to allow overview bg to leak into workspaces, see layer rules

    preset-column-widths {
        // Proportion sets the width as a fraction of the output width, taking gaps into account.
        // For example, you can perfectly fit four windows sized "proportion 0.25" on an output.
        // The default preset widths are 1/3, 1/2 and 2/3 of the output.
        proportion 0.33333
        proportion 0.5
        proportion 0.66667

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }

    // You can change the default width of the new windows.
    default-column-width { proportion 0.5; }
    
    // You can change how the focus ring looks.
    focus-ring {
        // How many logical pixels the ring extends out from the windows.
        off
        width 2

        // Colors can be set in a variety of ways:
        // - CSS named colors: "red"
        // - RGB hex: "#rgb", "#rgba", "#rrggbb", "#rrggbbaa"
        // - CSS-like notation: "rgb(255, 127, 0)", rgba(), hsl() and a few others.

        // Color of the ring on the active monitor.
        active-color "#5CB8FF"

        // Color of the ring on inactive monitors.
        // The focus ring only draws around the active window, so the only place
        // where you can see its inactive-color is on other monitors.
        inactive-color "#00000000"
    }

    border {
        width 0
        active-color "#83a598"
        urgent-color "#cc241d" 
        inactive-color "#282828"
    }

    shadow {
        // can't even shut off shadow LOL
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#0007"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}
// Add lines like this to spawn processes at startup.
// fun fact u can run hyrpland tools in niri!!!!!!!!!!
spawn-at-startup "waybar"
spawn-at-startup "swww-daemon"      // fun fact, swww REMEMBERS the wallpaper you ran!!!!!!!!!!!!
spawn-at-startup "vicinae" "server" // lovely app launcher

// issue w/ swayidle here not locking on sleep on my laptop for some reason???????????
// it's whatev, just make sure to lock ur stuff b4 leaving it unattended :p
spawn-at-startup "swayidle" "-w" "timeout" "270" "brightnessctl -s set 10%" "resume" "brightnessctl -r" "timeout" "300" "~/scripts/lock.sh" "timeout" "400" "niri msg action power-off-monitors" "before-sleep" "~/scripts/lock.sh"
spawn-at-startup "sunsetr"
spawn-at-startup "mpd"              // music player daemon + rmpc

// this is needed for clipview menu !! vicinae does this on its own
// spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store" // add things to clipboard history!

// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-sh-at-startup "qs -c ~/source/qs/MyAwesomeShell"

hotkey-overlay {
    // Uncomment this line to disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
screenshot-path "~/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// Window rules
// Set open-maximized to true for all windows.
window-rule {
    open-maximized true
}

// Then, for terminal, set open-maximized back to false.
window-rule {
    match app-id="ghostty"
    open-maximized false
}

// Block out mako notifications from screencasts.
layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"
}

// Show wallpaper on overview backdrop instead of grey bg
layer-rule {
    match namespace="^swww-daemon$"
    place-within-backdrop true
}

// above layer rule relies on this other setting, otherwise the bg is grey cuz we basically shift the wallpaper into the overview background
// layout {
//    background-color "transparent"
//}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }

    border {
        inactive-color "#7d0d2d"
    }

    shadow {
        color "#7d0d2d70"
    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}


// Animation settings.
animations {
    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
    
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

binds {
    // Mod+/ shows a list of important hotkeys.
    Mod+Slash { show-hotkey-overlay; }

    Mod+Return hotkey-overlay-title="Open a Terminal: ghostty" { spawn "ghostty"; }
    Mod+D hotkey-overlay-title="Run an Application: vicinae" { spawn "vicinae" "toggle"; }
    Mod+Shift+L hotkey-overlay-title="Lock the Screen: hyprlock" { spawn "hyprlock"; }
    Mod+B hotkey-overlay-title="Open Browser: zen" { spawn "zen-browser"; }
    Mod+R hotkey-overlay-title="Reload Waybar" { spawn-sh "bash ~/scripts/waybar.sh"; }
    Mod+W hotkey-overlay-title="Set wallpaper" { spawn-sh "ghostty -e bash ~/scripts/wal.sh"; }
    Mod+P hotkey-overlay-title="Power menu" { spawn-sh "bash ~/scripts/power.sh"; }
    Mod+S hotkey-overlay-title="Script menu" { spawn-sh "bash ~/scripts/pickscript.sh"; }

    // Example volume keys mappings for PipeWire & WirePlumber.
    // The allow-when-locked=true property makes them work even when the session is locked.
    // Using spawn-sh allows to pass multiple arguments together with the command.
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.01-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    // Example brightness key mappings for brightnessctl.
    // You can use regular spawn with multiple arguments too (to avoid going through "sh"),
    // but you need to manually put each argument in separate "" quotes.
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

    // Open/close the Overview: a zoomed-out view of workspaces and windows.
    // You can also move the mouse into the top-left hot corner,
    // or do a four-finger swipe up on a touchpad.
    Mod+O repeat=false { toggle-overview; }
    Mod+Q repeat=false { close-window; }

    Mod+J  { focus-column-left; }
    Mod+K  { focus-window-down; }
    Mod+I  { focus-window-up; }
    Mod+L  { focus-column-right; }

    // You can bind mouse wheel scroll ticks using the following syntax.
    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    // Consume one window from the right to the bottom of the focused column.
    Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    Mod+Period { expel-window-from-column; }

    // Move the focused window between the floating and the tiling layout.
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    // Toggle tabbed column display mode.
    // Windows in this column will appear as vertical tabs,
    // rather than stacked on top of each other.
    Mod+Shift+W { toggle-column-tabbed-display; }

    // Actions to switch layouts.
    Mod+Space       { switch-layout "next"; }
    Mod+Shift+Space { switch-layout "prev"; }

    Print { screenshot; }
    Mod+Print { screenshot-screen; }

    Mod+Shift+S hotkey-overlay-title="Set dynamic cast window when recording" { set-dynamic-cast-window; }
    Mod+Shift+X hotkey-overlay-title="Clear dynamic cast window." { clear-dynamic-cast-target; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+E { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }
}
