/* matugen goodies */
@import "colors.css";

* {
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 16px;
    min-height: 38px;
}

window#waybar {
    background: @background;
    color: @on_background;
    border-radius: 20px;
}

.modules-right,
.modules-center {
    padding: 0 10px;
}

tooltip {
    background-color: @background;
    border: 1px solid @surface_variant;
    border-radius: 0;
}

#tray, #mpd {
    color: @primary;
    border-radius: 10px;
}

#custom-power {
    color: @tertiary;
    margin-left: 10px;
}

#workspaces button, #taskbar button {
    color: @surface_bright;
    padding: 2px 10px;
}

#workspaces button:hover, #taskbar button:hover {
    box-shadow: inherit;
    color: @on_surface;
    background: @background;
}

#workspaces button.active, #taskbar button.active {
    background: @surface_container;
    color: @primary;
}

/*
#privacy {
    border-radius: 100px;
    color: @on_primary;
    background: @primary;
    padding: 0 10px;
    margin: 2px 0;
}
*/

#idle_inhibitor.activated {
    color: @primary;
}

#battery.warning:not(.charging), #battery.critical:not(.charging) {
    color: @on_error;
}

#mpd.disconnected, #idle_inhibitor.activated, #battery.charging, #network.disconnected, #network.disabled, #pulseaudio.muted {
    color: @tertiary;
}
