/* matugen goodies */
@import "colors.css";

* {
    border: none;
    font-family: "JetbrainsMono Nerd Font";
    font-size: 16px;
    min-height: 30px;
}

window#waybar {
    background: transparent;
    color: @on_background;
}

window#waybar.hidden {
    opacity: 0.2;
}

#custom-archicon,
#clock,
#cpu,
#memory,
#battery,
#custom-pkgs,
#privacy,
#mpris,
#pulseaudio,
#network {
    color: @on_background;
    background: @background;
    margin-top: 6px;
    margin-bottom: 6px;
    padding-left: 10px;
    padding-right: 10px;
    transition: none;
}

/* border to left */
#custom-archicon, #cpu { 
    margin-left: 5px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* border to right */
#memory, #workspaces {
    margin-right: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#custom-archicon {
    font-size: 20px;
    background: @background;
    color: @primary;
    padding-right: 17px;
}

#custom-archicon:hover {
    color: #89B9FF;
}

#battery, #clock, #custom-pkgs, #mpris, #privacy, #pulseaudio, #network {
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

menu {
    border-radius: 10px;
    background: @background;
    color: @on_background;
}

menuitem:hover {
    background: @primary;
    color: @background;
}

#workspaces {
    background: @background;
    color: @on_background;
    margin: 6 0px; /* same level as other elements + prevents it from looking stupid and hitting the screen border */
}

#workspaces button {
    color: @on_background;
}

#workspaces button.active {
    color: @background;
    background: @primary;
}

#workspaces button:hover {
    color: @background;
    background: @primary;
}

#workspaces button.active:hover {}

#privacy {
    background: @primary;
    color: @background;
}

#mpris {
    background: @primary;
    color: @background;
}

#pulseaudio {
    min-width: 55px;
    color: @on_background;
    background: @background;
}

#network.disconnected, #network.disabled, #pulseaudio.muted {
    color: @primary;
}
