/* matugen goodies */
@import "colors.css";

* {
    border: none;
    font-family: JetBrainsMono Nerd Font Propo;
    font-size: 16px;
    border-radius: 0px;
    min-height: 35px;
}

window#waybar {
    background: @background;
    color: @on_background;
}

.modules-right,
.modules-center {
    padding: 0 10px;
}

#custom-arch {
    color: @tertiary;
}

#window {
    color: @primary;
}

#workspaces button {
    color: @on_background;
    padding: 2px 10px;
    border-radius: 5px;
}

#workspaces button:hover {
    box-shadow: inherit;
    color: @on_tertiary;
    background: @tertiary;
}

#workspaces button.active {
    background: @primary;
    color: @on_primary;
}

#privacy {
    border-radius: 100px;
    color: @on_tertiary;
    background: @tertiary;
}

#pulseaudio {
    color: @on_background;
}

#battery.warning:not(.charging), #battery.critical:not(.charging) {
    color: @on_error;
}

#idle_inhibitor.activated, #battery.charging, #network.disconnected, #network.disabled, #pulseaudio.muted {
    color: @tertiary;
}
