layout {
	focus-ring {
		on
		width 1
		active-color "{{colors.primary.default.hex}}"
		inactive-color "{{colors.surface_variant.default.hex}}"
		urgent-color "{{colors.error_container.default.hex}}"
	}
}

recent-windows {
    // off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "{{colors.surface_variant.default.hex}}"
        urgent-color "{{colors.error_container.default.hex}}"
        padding 30
        corner-radius 0
    }

    previews {
        max-height 480
        max-scale 0.5
    }

    binds {
        Alt+Tab         { next-window; }
        Alt+Shift+Tab   { previous-window; }
        Alt+grave       { next-window     filter="app-id"; }
        Alt+Shift+grave { previous-window filter="app-id"; }

        Mod+Tab         { next-window; }
        Mod+Shift+Tab   { previous-window; }
        Mod+grave       { next-window     filter="app-id"; }
        Mod+Shift+grave { previous-window filter="app-id"; }
    }
}
